.button {
  display: inline-block;
  margin-right: 0.4em;
  padding: 0.3em 0.7em;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5em;
  background: #845ec2;
  color: #fff;
  cursor: pointer;
  border-radius: 0.5em;
  text-align: center;
}

.button:hover {
  background: #008f7a;
}

.button-group {
  display: inline-block;
}

.button-group .button {
  border-right: 1px solid #c43400;
  margin-right: 0px;
}

.button-group .button:last-child {
  border-right: 0;
}

.activecell {
  background-color: #ddd;
  height: 0.8em;
  width: 0.8em;
  border: 1px solid black;
}

.deadcell {
  background-color: #008f7a;
  height: 0.8em;
  width: 0.8em;
  border: 1px solid black;
}

.controls {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
