.button {
  display: inline-block;
  margin-right: 0.4em;
  padding: 0.3em 0.7em;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5em;
  background: dodgerblue;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background: #ff5400;
}

.button-group {
  display: inline-block;
}

.button-group .button {
  border-right: 1px solid #c43400;
  margin-right: 0px;
}

.button-group .button:last-child {
  border-right: 0;
}

.activecell {
  background-color: black;
  height: 1.1em;
  width: 1.1em;
  border: 2px solid #ddd;
}

.deadcell {
  background-color: transparent;
  height: 1.1em;
  width: 1.1em;
  border: 2px solid #ddd;
}
