body {
  margin: 0;
  color: hsla(0, 0%, 100%, 0.88);
  background-color: #282c35;
  font-family: "Play", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
