body {
  margin: 0;
  color: #fbeaff;
  background-color: #282c35;
  font-family: "Play", sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* #fbeaff */
/* hsla(0, 0%, 100%, 0.88) */
